WeaponConfig(
    path_to_model: "models/Blocky assault rifle.glb#Scene0",
    collider_size: Vec3(0.08, 0.14, 0.6),
    weight: 4.0,
    recoil: 30.0,
    bullet_speed: 300.0,
    bullet_impact_force: 50.0,
    firing_type: Automatic(SecondsBetweenShots(0.12)),
    shot_origin: Vec3(0.0, 0.015, -0.42),
    ads_position: Vec3(-0.007, 0.053, 0.267),
)