WeaponConfig(
    path_to_model: "models/Blocky assault rifle.glb#Scene0",
    collider_size: Vec3(0.08, 0.14, 0.6),
    weight: 14.0,
    recoil: 150.0,
    bullet_speed: 400.0,
    bullet_impact_force: 250.0,
    firing_type: SemiAutomatic,
    shot_origin: Vec3(0.0, 0.015, -0.42),
    ads_position: Vec3(-0.06, -0.016, 0.26),
    shell_ejection_position: Vec3(0.03, 0.027, 0.067),
    shell_ejection_rotation: EulerAngle(
        x: Angle(0.41865212),
        y: Angle(-1.7269335),
        z: Angle(0.0),
        order: YXZ,
    ),
    shell_ejection_force: 4.0,
    shell_ejection_spin: Vec3(0.0, -23.115839, 0.0),
    shell_ejection_randomness: 0.4,
)